<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<h style="color: #9a0e55;font-size:35px" class="title">
    Ticketing System by Pouyan Hessabi<br><br>
</h>
<div style="width: 100%; text-align: center; padding: 10px 0px 0px 10px"><img style="border-radius: 15%"
                                                                              src="../static/ticketing-system.png"
                                                                              alt="ticketing-logo" width="350"
                                                                              height="300">
    <p><br></p></div>

<p>
    <br/>This system is a landing page for Snappfood customers to submit support tickets directly into Jira.<br>
    Customers enter their phone number or ID, and the system checks to see if they exist.<br>
    If no open ticket exists, a new one is created in Jira, and the customer gets the ticket ID.<br></p>
<p style="font-family: 'Comic Sans MS'; font-size:25px"> I hope you will
    enjoy this project and find it useful to
    accept me for the interview 😃
</p>
</p>


{% endblock %}