<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>AJAX Example</title>-->
{% extends "base.html" %}

{% block content %}
<script>
    // Function to display tickets
    function displayTickets(tickets) {
        const ticketsContainer = document.getElementById('tickets');
        ticketsContainer.innerHTML = ''; // Clear previous content

        if (tickets.length === 0) {
            ticketsContainer.innerHTML = '<p>No tickets found.</p>';
            return;
        }

        tickets.forEach(ticket => {
            const ticketElement = document.createElement('div');
            ticketElement.innerText = `ID: ${ticket.id}, Description: ${ticket.description}, Type: ${ticket.type},Client ID: ${ticket.client_id}, Creation Date: ${ticket.creation_date}`;
            ticketsContainer.appendChild(ticketElement);
        });
    }
</script>
<div class="container">
    <p class="subtitle" style="color: #cb106f;font-size: 35px;font-family: 'Comic Sans MS',serif;font-weight: bold">
        {{message}}</p>
    {% if message == "" %}
    <p class="subtitle"
       style="color: rgba(1,152,1,0.91);font-size: 35px;font-family: 'Comic Sans MS',serif;font-weight: bold">
        The ticket has been added successfully. Here is the new ticket information:</p>
    {% endif %}
    <div class="box">
        <h2 class="subtitle" style="color: darkblue;font-weight: bold">Ticket Details:</h2>
        <p><strong>Ticket ID:</strong> {{ ticket.id }}</p>
        <p><strong>Description:</strong> {{ ticket.description }}</p>
        <p><strong>Type:</strong> {{ ticket.type }}</p>
        <p><strong>Is Active:</strong> {{ ticket.is_active }}</p>
        <p><strong>Client ID:</strong> {{ ticket.client_id }}</p>
        <p><strong>Creation Date:</strong> {{ ticket.creation_date }}</p>
    </div>

    <div class="field">
        <div class="control">
            <a href="{{ url_for('main.index') }}" class="button is-link">Back to Home</a>
        </div>
    </div>
</div>

{% endblock %}

